/* @import-normalize; */

:root {
  --primaryTextColor: #FFFFFF;
  --secondaryTextColor: #d32000;
  --accentColor: #FFED00;
  --bgColorform: #d32000;
  --bgColor: #4e4c4c;
  --boxShadow: 17px 17px 84px 18px rgba(21, 15, 15, 0.2);
  --timingFn: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

ul {
  padding: 0;
  margin: 0;
 }
a {
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  height: 100%;
  background: var(--bgColorr);
  color: var(--primaryTextColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}